doctype html
html(lang="en", ng-app="scalculus")
	head 
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="/node_modules/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		link(rel="stylesheet", type="text/css", href="/views/css/style.css")
		title sCalculus
	body(ng-cloak, ng-controller="sCalCtrl")
		nav(class="navbar navbar-default navbar-fixed-top")
			div.container-fluid
				div.navbar-header
					button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") sCalculus
				div.collapse.navbar-collapse#bs-example-navbar-collapse-1
					ul.nav.navbar-nav
						li
							a(href="#", data-toggle="modal", data-target="#myModal")
								span.glyphicon.glyphicon-record(aria-hidden=true)
								span  Subscribe
						li
							a(href="#", data-toggle="modal", data-target="#myModal2")
								span.glyphicon.glyphicon-log-in(aria-hidden=true) 
								span  Login 
						li
							a(href="#" data-toggle="modal", data-target="#myModal3")
								span.glyphicon.glyphicon-question-sign(aria-hidden=true)
								span  Help


					ul.nav.navbar-nav.navbar-right(ng-if="user_log")
						li
							span.navbar-text(ng-show("user_log")) Hello, {{user_log}} 
						li
							a(href="#", ng-click="disconnect()") 
								span.glyphicon.glyphicon-log-out(aria-hidden=true)
								span  Logout
		div(class="modal fade", id="myModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
			div(class="modal-dialog", role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(id="cm1", type="button", class="close", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") &times;
						h2(class="modal-title", id="myModalLabel") Subscribe
					div(class="modal-body")
						form
							input(class="form-control", type="text",ng-model="userName", placeholder="Pseudo")
							input(class="form-control", type="password",ng-model="userPwd", ng-keyup="passwordConfirm($event)", placeholder="Password")
							input(class="form-control", type="password",ng-model="vuserPwd", placeholder="Enter Password Again")
							input(class="form-control", type="submit", ng-if="passConf && userPwd == vuserPwd", ng-click="subscribe()")
					div(class="modal-footer")
						span(ng-show="register_loading") Loading...
						span(ng-if="stateSub") {{stateSub}}
		div(class="modal fade", id="myModal2", tabindex="-1", role="dialog", aria-labelledby="myMovalLabel2")
			div(class="modal-dialog", role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(id="cm2" ,type="button", class="close", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") &times;
						h2(class="modal-title", id="myModalLabel2") Log In
					div(class="modal-body")
						form
							input(class="form-control", type="text", ng-model="logUser", placeholder="Pseudo")
							input(class="form-control", type="password", ng-model="logPwd", placeholder="Password")
							input(class="form-control", type="submit", ng-click="login()") 
					div(class="modal-footer")
						span(ng-show="Login_loading") Loading...
						span(ng-if="loginStatus && logUser && logPwd") {{loginStatus}}
		div(class="modal fade", id="myModal3", tabindex="-1", role="dialog", aria-labelledby="myModalLabel3")
			div(class="modal-dialog", role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(id="cm3", type="button", class="close", data-dismiss="modal", aria-label="Close")
							span(aria-hidden=true) &times;
						h2(class="modal-title", id="myModalLabel3") Help
					div(class="modal-body")
						h3 Membership
						p You can save and load grid only if you validate the authentification process. I advice you to login if you don't want any bad surprises.
						h3 Feature Functions
						p Here are the function enable in this app : 
						ul
							li
								span.glyphicon.glyphicon-refresh(aria-hidden=true)
									span  Refresh grid (wont save automatically)
							li 
								span.glyphicon.glyphicon-floppy-disk 
									span  Save 
							li 
								span.glyphicon.glyphicon-th
									span  Select (enable you to select multiple box)
							li 
								span.glyphicon.glyphicon-import
									span  Paste (paste selection)
							li 
								span.glyphicon.glyphicon-adjust
									span  Toggle (toggle between function and results inside boxes)
						h3 Operations
						p Valid operators inside boxes are : 
						ul
							li Power with symbol 
								kbd ^
							li Modulus with symbol 
								kbd %
							li All other basic operation 
								kbd (, *, /, +, -, )
						h3 Coordinates
						p You can use this system by using this form : 
							kbd 1:2
							span to refer to the box x = 1 and y = 2
						p Multiselection box will give you multiple result separated by 
							kbd ;
							span . In this situation, you will have to replace the ";" by the operation of your choice.
						h3 Shortcuts
						p These shortcuts are only avaible if you click on the grid. Some plugins may interfer with these shortcuts.
						p Refresh :
							kbd CTRL + ALT + R
						p Save : 
							kbd CTRL + SHIFT + S
						p Select Mode Toggle : 
							kbd CTRL + ALT + S
						p Select Box while in select mode : 
							kbd CTRL + ALT + SPACE
						p Paste : 
							kbd CTRL + ALT + V
						p Toggle : 
							kbd CTRL + ALT + T
						p Toggle Function bar or Box selection 
							kbd CTRL + ALT + F
						p Moving inside grid
							kbd CTRL + ALT + ARROW KEY
						
					div(class="modal-footer")
						span Application made by 
							a(href="#") Satoru HEMMI
					
		nav.navbar.navbar-default.navtool
			div.container-fluid
				div.nav.navbar-nav
					div.btn-group#functions(role="group", aria-label="...")
						button(type="button", class="btn btn-default navbar-btn", ng-click="gridLoad()", title="Refresh")
							span.glyphicon.glyphicon-refresh
						button(type="button", class="btn btn-default navbar-btn", ng-click="gridSave()", title="Save") 
							span.glyphicon.glyphicon-floppy-disk(aria-hidden=true)
						button(type="button", class="btn btn-default navbar-btn", id="select_btn", ng-click="gridSelect()", title="Select") 
							span.glyphicon.glyphicon-th(aria-hidden=true)
						button(type="button", class="btn btn-default navbar-btn", id="select_paste", ng-show="coord", ng-click="gridSelectPaste()", title="Paste")
							span.glyphicon.glyphicon-import(aria-hidden=true)
						button(type="button", class="btn btn-default navbar-btn", id="toggle_res_func", ng-click="toggleResFunc()", title="Toggle display")
							span.glyphicon.glyphicon-adjust(aria-hidden=true)
				div.nav.navbar-nav.navbar-right
					span#status
					span.navbar-text(ng-show="coord && coord.length > 0") Selected Grid : {{coord}}
					span.navbar-text(ng-show="grid_alert") {{grid_alert}}
		div(ng-keydown="gridKeyDown($event)", ng-keyup="gridKeyUp($event)", ng-click="gridClicked($event)")#sCalculus
		nav.navbar.navbar-default.navbar-fixed-bottom#footernav(ng-if="current_coor")
			div.container-fluid
				div.nav.navbar-nav.navbar-left
					div.input-group
						span.input-group-addon#addon1(ng-show="current_coor") {{current_coor}} = 
						input.form-control(aria-describeby="addon1", ng-show="current_coor", id="fnc", type="text", ng-click="fncGetContent()", ng-keyup="fncSetContent($event)")
		script(src="/node_modules/angular/angular.min.js")
		script(src="/views/js/script.js")
		script(src="/views/js/cookieManager.js")
		script(src="/views/js/login.js")
		script(src="/views/js/subscribe.js")
		script(src="/views/js/gridManager.js")
		script(src="/views/js/sCalculus.js")
		script(src="/views/js/coordinatesTranslator.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
